/**
 * ioGrid
 *
 * Grid framework for all ThemeShop.io Products
 *
 * @version   v1.0
 * @author    ThemeShop.io
 */
/* Selector Prefix */
/* Color Scheme */
/* Device Widths */
* {
  border: 0;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #373a3c;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

h1, h2, h3 {
  line-height: 4.8rem;
  margin: .8rem 0 1.4rem; }

h4, h5, h6 {
  margin: 1.1rem 0; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.0rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1; }

p, form, table, blockquote, hr, pre, ol,
ul, dl, table, fieldset, figure, address, form {
  margin-bottom: 1.1rem; }

[tabindex="-1"]:focus {
  outline: none !important; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: #0860ff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

a:active,
a:hover {
  outline-width: 0;
  color: #054AC5;
  text-decoration: none; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select {
  overflow: visible; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

[disabled] {
  cursor: default; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #818a91; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  padding-left: 40px;
  margin-top: 0; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  max-width: 100%; }

[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

table {
  border-collapse: collapse;
  background-color: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #818a91;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: left; }

label {
  display: inline-block;
  color: #7d7d7e; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0; }

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit; }

input[type="search"] {
  -webkit-appearance: none; }

output {
  display: inline-block; }

[hidden] {
  display: none !important; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

code {
  padding: .2rem .4rem;
  font-size: 0.8rem;
  background-color: #f7f7f9; }

pre {
  padding: 1rem;
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 90%;
  background-color: #f7f7f9;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  white-space: pre-wrap; }

pre code {
  display: block;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

.sr-only {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

@media print {
  *,
  *::before,
  *::after,
  *::first-letter,
  *::first-line {
    text-shadow: none !important;
    box-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .navbar {
    display: none; }
  .btn > .caret, .btn--success > .caret, .btn--danger > .caret, .btn--link > .caret, .btn--disabled > .caret,
  .dropup > .btn > .caret,
  .dropup > .btn--success > .caret,
  .dropup > .btn--danger > .caret,
  .dropup > .btn--link > .caret,
  .dropup > .btn--disabled > .caret {
    border-top-color: #000 !important; }
  .tag {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
  .table td,
  .table th {
    background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px; }

.container::after {
  content: '';
  display: table;
  clear: both; }

.container--full {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.container--full::after {
  content: "";
  display: table;
  clear: both; }

.grid, .grid--flex, .grid--flex-equal, .grid--flex-equal-height, .grid--flex-equal-width, .grid--flex-middle, .grid--flex-bottom {
  margin-left: -15px;
  margin-right: -15px; }
  .grid--no-gutter .col, .grid--no-gutter .col--1, .grid--no-gutter .col--2, .grid--no-gutter .col--3, .grid--no-gutter .col--4, .grid--no-gutter .col--5, .grid--no-gutter .col--6, .grid--no-gutter .col--7, .grid--no-gutter .col--8, .grid--no-gutter .col--9, .grid--no-gutter .col--10, .grid--no-gutter .col--11, .grid--no-gutter .col--12 {
    padding-left: 0;
    padding-right: 0; }
  .grid--flex, .grid--flex-equal, .grid--flex-equal-height, .grid--flex-equal-width, .grid--flex-middle, .grid--flex-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .grid--flex .col, .grid--flex-equal .col, .grid--flex-equal-height .col, .grid--flex-equal-width .col, .grid--flex-middle .col, .grid--flex-bottom .col, .grid--flex .col--1, .grid--flex-equal .col--1, .grid--flex-equal-height .col--1, .grid--flex-equal-width .col--1, .grid--flex-middle .col--1, .grid--flex-bottom .col--1, .grid--flex .col--2, .grid--flex-equal .col--2, .grid--flex-equal-height .col--2, .grid--flex-equal-width .col--2, .grid--flex-middle .col--2, .grid--flex-bottom .col--2, .grid--flex .col--3, .grid--flex-equal .col--3, .grid--flex-equal-height .col--3, .grid--flex-equal-width .col--3, .grid--flex-middle .col--3, .grid--flex-bottom .col--3, .grid--flex .col--4, .grid--flex-equal .col--4, .grid--flex-equal-height .col--4, .grid--flex-equal-width .col--4, .grid--flex-middle .col--4, .grid--flex-bottom .col--4, .grid--flex .col--5, .grid--flex-equal .col--5, .grid--flex-equal-height .col--5, .grid--flex-equal-width .col--5, .grid--flex-middle .col--5, .grid--flex-bottom .col--5, .grid--flex .col--6, .grid--flex-equal .col--6, .grid--flex-equal-height .col--6, .grid--flex-equal-width .col--6, .grid--flex-middle .col--6, .grid--flex-bottom .col--6, .grid--flex .col--7, .grid--flex-equal .col--7, .grid--flex-equal-height .col--7, .grid--flex-equal-width .col--7, .grid--flex-middle .col--7, .grid--flex-bottom .col--7, .grid--flex .col--8, .grid--flex-equal .col--8, .grid--flex-equal-height .col--8, .grid--flex-equal-width .col--8, .grid--flex-middle .col--8, .grid--flex-bottom .col--8, .grid--flex .col--9, .grid--flex-equal .col--9, .grid--flex-equal-height .col--9, .grid--flex-equal-width .col--9, .grid--flex-middle .col--9, .grid--flex-bottom .col--9, .grid--flex .col--10, .grid--flex-equal .col--10, .grid--flex-equal-height .col--10, .grid--flex-equal-width .col--10, .grid--flex-middle .col--10, .grid--flex-bottom .col--10, .grid--flex .col--11, .grid--flex-equal .col--11, .grid--flex-equal-height .col--11, .grid--flex-equal-width .col--11, .grid--flex-middle .col--11, .grid--flex-bottom .col--11, .grid--flex .col--12, .grid--flex-equal .col--12, .grid--flex-equal-height .col--12, .grid--flex-equal-width .col--12, .grid--flex-middle .col--12, .grid--flex-bottom .col--12 {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
    .grid--flex-equal .col, .grid--flex-equal-height .col, .grid--flex-equal-width .col, .grid--flex-equal .col--1, .grid--flex-equal-height .col--1, .grid--flex-equal-width .col--1, .grid--flex-equal .col--2, .grid--flex-equal-height .col--2, .grid--flex-equal-width .col--2, .grid--flex-equal .col--3, .grid--flex-equal-height .col--3, .grid--flex-equal-width .col--3, .grid--flex-equal .col--4, .grid--flex-equal-height .col--4, .grid--flex-equal-width .col--4, .grid--flex-equal .col--5, .grid--flex-equal-height .col--5, .grid--flex-equal-width .col--5, .grid--flex-equal .col--6, .grid--flex-equal-height .col--6, .grid--flex-equal-width .col--6, .grid--flex-equal .col--7, .grid--flex-equal-height .col--7, .grid--flex-equal-width .col--7, .grid--flex-equal .col--8, .grid--flex-equal-height .col--8, .grid--flex-equal-width .col--8, .grid--flex-equal .col--9, .grid--flex-equal-height .col--9, .grid--flex-equal-width .col--9, .grid--flex-equal .col--10, .grid--flex-equal-height .col--10, .grid--flex-equal-width .col--10, .grid--flex-equal .col--11, .grid--flex-equal-height .col--11, .grid--flex-equal-width .col--11, .grid--flex-equal .col--12, .grid--flex-equal-height .col--12, .grid--flex-equal-width .col--12 {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 0%;
              flex: 1 1 0%; }
    .grid--flex-equal-height .col, .grid--flex-equal-height .col--1, .grid--flex-equal-height .col--2, .grid--flex-equal-height .col--3, .grid--flex-equal-height .col--4, .grid--flex-equal-height .col--5, .grid--flex-equal-height .col--6, .grid--flex-equal-height .col--7, .grid--flex-equal-height .col--8, .grid--flex-equal-height .col--9, .grid--flex-equal-height .col--10, .grid--flex-equal-height .col--11, .grid--flex-equal-height .col--12 {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto; }
    .grid--flex-middle {
      -webkit-box-align: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; }
    .grid--flex-bottom {
      -webkit-box-align: end;
          -ms-flex-align: end;
                  -ms-grid-row-align: flex-end;
              align-items: flex-end; }

.grid::after, .grid--flex::after, .grid--flex-equal::after, .grid--flex-equal-height::after, .grid--flex-equal-width::after, .grid--flex-middle::after, .grid--flex-bottom::after {
  content: '';
  display: table;
  clear: both; }

.col, .col--1, .col--2, .col--3, .col--4, .col--5, .col--6, .col--7, .col--8, .col--9, .col--10, .col--11, .col--12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  float: left; }

.col--1 {
  width: 8.333333%; }

.col--2 {
  width: 16.666667%; }

.col--3 {
  width: 25%; }

.col--4 {
  width: 33.333333%; }

.col--5 {
  width: 41.666667%; }

.col--6 {
  width: 50%; }

.col--7 {
  width: 58.333333%; }

.col--8 {
  width: 66.666667%; }

.col--9 {
  width: 75%; }

.col--10 {
  width: 83.333333%; }

.col--11 {
  width: 91.666667%; }

.col--12 {
  width: 100%; }

@media all and (min-width: 768px) {
  .grid--flex-equal-width {
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; } }

@media all and (max-width: 768px) {
  .grid--flex, .grid--flex-equal, .grid--flex-equal-height, .grid--flex-equal-width, .grid--flex-middle, .grid--flex-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .col--1,
  .col--2,
  .col--3,
  .col--4,
  .col--5,
  .col--6,
  .col--7,
  .col--8,
  .col--9,
  .col--10,
  .col--11,
  .col--12 {
    display: block;
    width: 100%;
    float: none; } }

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 0.25rem solid #eceeef; }

.blockquote_footer {
  display: block;
  font-size: 80%;
  color: #818a91; }

.blockquote_footer::before {
  content: "\2014 \00A0"; }

.blockquote--reverse {
  padding-right: 1rem;
  padding-left: 0;
  text-align: right;
  border-right: 0.25rem solid #eceeef;
  border-left: 0; }

.blockquote--reverse .blockquote_footer::before {
  content: ""; }

.blockquote--reverse .blockquote_footer::after {
  content: "\00A0 \2014"; }

.btn, .btn--success, .btn--danger, .btn--link, .btn--disabled,
[type=submit],
button {
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0px solid transparent;
  padding: 10px 25px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #0860ff;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.btn:hover, .btn--success:hover, .btn--danger:hover, .btn--link:hover, .btn--disabled:hover,
.btn:focus,
.btn--success:focus,
.btn--danger:focus,
.btn--link:focus,
.btn--disabled:focus,
.btn:active,
.btn--success:active,
.btn--danger:active,
.btn--link:active,
.btn--disabled:active,
[type=submit]:hover,
[type=submit]:focus,
[type=submit]:focus,
button:hover,
button:focus,
button:active {
  text-decoration: none;
  background-color: #054AC5;
  color: #fff; }

.btn:focus, .btn--success:focus, .btn--danger:focus, .btn--link:focus, .btn--disabled:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:active, .btn--success:active, .btn--danger:active, .btn--link:active, .btn--disabled:active {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn--success {
  background-color: #8bc34a; }
  .btn--success:hover, .btn--success:focus {
    background-color: #68ab1b; }

.btn--danger {
  background-color: #e62929; }
  .btn--danger:hover, .btn--danger:focus {
    background-color: #c10f0f; }

.btn--link {
  background-color: transparent;
  color: #0860ff; }
  .btn--link:hover, .btn--link:focus {
    color: #054AC5;
    background-color: transparent; }

.btn--disabled {
  cursor: not-allowed;
  opacity: .4; }
  .btn--disabled:hover, .btn--disabled:focus, .btn--disabled:active {
    outline: none;
    cursor: not-allowed;
    background-color: #0860ff;
    opacity: .4; }

.field {
  margin-bottom: 1.1rem;
  position: relative; }
  .field_label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem; }
  .field_control {
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #afafaf;
    outline: 0;
    width: 100%;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease; }
    .field_control:focus {
      border-color: #0860ff; }
  .field select {
    height: calc(2rem + 4px); }
  .field textarea {
    line-height: inherit; }
  .field.field--inline [type="checkbox"] {
    margin-top: calc(0.5rem + 4px);
    margin-bottom: calc(0.5rem + 4px);
    margin-right: 0.5rem; }
  .field--inline {
    overflow: hidden; }
    .field--inline .field_label {
      display: inline-block;
      float: left;
      margin-right: 0.5rem;
      margin-bottom: 0;
      line-height: calc(2.2rem + 2px);
      font-size: 0.9rem; }
    .field--inline .field_control {
      display: inline-block;
      float: left;
      width: auto; }
  .field--inside {
    position: relative;
    min-height: 4rem; }
    .field--inside .field_control {
      padding: 1.5rem 0.5rem 0.5rem; }
    .field--inside .field_label {
      position: absolute;
      top: 0;
      left: 0.5rem;
      line-height: 1.5rem;
      z-index: 9;
      margin-bottom: 0; }

.list--unstyled {
  padding-left: 0;
  list-style: none; }

.list--inline {
  padding-left: 0;
  list-style: none; }
  .list--inline li, .list--inline-item {
    display: inline-block; }

.section {
  padding: 60px 0; }
  .section--md {
    padding: 60px 0; }

.separator, .separator--10, .separator--20, .separator--30, .separator--40, .separator--50, .separator--60, .separator--70, .separator--80, .separator--90, .separator--100, .separator--120, .separator--140 {
  display: block;
  width: 100%;
  float: none;
  overflow: hidden;
  height: 20px;
  background-color: transparent; }
  .separator--10 {
    height: 10px; }
  .separator--20 {
    height: 20px; }
  .separator--30 {
    height: 30px; }
  .separator--40 {
    height: 40px; }
  .separator--50 {
    height: 50px; }
  .separator--60 {
    height: 60px; }
  .separator--70 {
    height: 70px; }
  .separator--80 {
    height: 80px; }
  .separator--90 {
    height: 90px; }
  .separator--100 {
    height: 100px; }
  .separator--120 {
    height: 120px; }
  .separator--140 {
    height: 140px; }

table {
  width: 100%;
  empty-cells: show; }

th,
td {
  padding: 15px;
  border-bottom: 1px solid #eee; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Visibility */
.hidden {
  display: none; }

.visible {
  display: block; }

.hidden--soft {
  visibility: hidden;
  opacity: 0; }

.visible--soft {
  visibility: visible;
  opacity: 1; }

/* Alignment */
.block--center {
  display: block;
  margin: 0 auto; }

.block--right {
  margin: auto 0 0 auto; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

/* Margins */
._nomt {
  margin-top: 0; }

._nomr {
  margin-right: 0; }

._nomb {
  margin-bottom: 0; }

._noml {
  margin-left: 0; }

/* Paddings */
._nopt {
  padding-top: 0; }

._nopr {
  padding-right: 0; }

._nopb {
  padding-bottom: 0; }

._nopl {
  padding-left: 0; }

/*# sourceMappingURL=ioGrid.css.map */
