/* Selector Prefix */
$p: "";

/* Color Scheme */
$default: #0860ff;
$default-alt: #054AC5;

$success: #8bc34a;
$success-alt: #68ab1b;

$danger: #e62929;
$danger-alt: #c10f0f;

/* Device Widths */
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;
